
@font-face { font-family: Royal Acidbath; src: url(/Assets/Royalacid_o.ttf); }
@font-face { font-family: InfernosSpicy; src: url(/Assets/InfernosSpicy.ttf); }  

.row {
    margin-top: 25px;
}

body {
    background-color: coral
}

.intro {
    min-height: 65%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 65vh; /* These two lines are counted as one :-)       */
    min-height: calc(65% - 10px);  /*  */
    min-height: calc(65vh - 10px); /* */
    display: flex;
    align-items: center;

    background-color: coral;
    background-image: url("https://i.imgur.com/AVAaYjl.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color:#fff;
    
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    
}

.navbar {
    font-family: InfernosSpicy;
    font-size: 1rem;
}

h1 {
    font-family: Royal Acidbath;
}

.carousel-inner {    
    min-height: 20%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 20vh; /* These two lines are counted as one :-)       */
}
